<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask your Coach anything:</p>

  <form action="/answer">
    <div class="form-group form-inline">
      <input type="text" name="question" class="form-control" id="question-box">
      <input type="submit" value="Ask!" class="btn btn-primary" id="ask-button">
    </div>
  </form>
</div>
